@import url('../../utils/Colors.css');

.feature-card {
    flex: 0 1 calc(20% - 8px);
    min-width: 270px;
    position: relative;
    margin: 12px;
    border-radius: 1rem;
    cursor: pointer;
    overflow: hidden;
    cursor: pointer;
    /* box-shadow: 0 8px 8px rgba(0, 0, 0, .4); */
}

.feature-card:hover .feature-image img{
    transform: scale(1.1);
    transition: .3s ease-in-out;
    overflow: hidden;
}

.feature-card .feature-image img {
    width: 100%;
    object-fit: cover;
    height: 230px;
    transition: .3s ease-in-out;
}

.feature-image-fade {
    left: 0;
    height: 60%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.feature-content {
    position: absolute;
    bottom: 0;
    text-align: left;
    padding: 8px 1rem;
}

.feature-content h2 {
    color: white;
    font-weight: 700;
    margin: 0;
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.feature-content h3 {
    color: var(--textLightColor);
    font-weight: 700;
    margin: 0;
}

@media only screen and (max-width: 450px) {
    .feature-card {
        min-width: 220px;
        position: relative;
        margin: 12px;
        margin-left: 0;
    }
    .feature-card .feature-image img {
        width: 100%;
        height: 200px;
    }
}