.edit-profile {
    width: 50%;
    margin: 0 auto;
    padding-top: 120px;
    text-align: left;
}

#my-file-edit {
    display: none;
}

.edit-profile-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.edit-profile-header svg {
    border: 1px solid var(--grayAccent);
    padding: 8px;
    font-size: 2rem;
    border-radius: 8rem;
    margin-right: 12px;
    cursor: pointer;
}

.edit-profile h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--textPrimaryColor);
    margin: 0;
}
.edit-profile .edit-profile-para {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--textLightColor);
    width: 80%;
}

.edit-profile .edit-user-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
}

.edit-user-box img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8rem;
    margin-right: 4rem;
}

.edit-user-box button {
    background: var(--buttonSecondaryColor);
    border: none;
    border-radius: 8rem;
    min-width: 150px;
    height: 40px;
    color: var(--buttonSecondaryTextColor);
    font-size: 1rem;
    font-weight: 700;
    outline: none;
    cursor: pointer;
}

.edit-user-box .edit-user-info p {
    padding-top: 8px;
    color: var(--textLightColor);
    font-weight: 500;
    font-size: .9rem;
    width: 100%;
}

@media only screen and (max-width: 450px) {
    .edit-profile {
        width: 95%;
        margin: 0 auto;
        padding-top: 80px;
        padding-bottom: 0;
    }

    .edit-profile .edit-user-box {
        align-items: center;
    }
    .edit-profile .edit-user-box p {
        margin: 0;
    }
    .edit-profile .edit-profile-para {
        width: 100%;
    }
}